html[data-darkreader-scheme="dark"] {
    --power-query-background: #454559 !important;
    --power-query-selected-item-color: rgba(240,240,255,0.2) !important;
    --power-query-label-color: #282839 !important;
    --power-query-list-color: #33333a !important;
    color: white;
}

