.btn-outline-secondary.toggled,
.btn-outline-info.toggled
{
    color: #fff;
    background-color: #007bff;
    border-color: #6c757d;
}

body.otherSchool {
    background: repeating-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0) 10px,
            rgba(255, 0, 100, .05) 10px,
            rgba(255, 0, 100, .05) 12px
    );
}

.oldYear {
    #leerling_inschrijvingen_btn_nieuwe_inschrijving,
    #leerling_inschrijvingen_btn_nieuwe_inschrijving + button    {
        background-color: #eee;
        border-color: #eee;
    }
    #leerling_inschrijvingen_weergave button.btn_inschrijvingen_toewijzing_ongedaan_maken,
    #leerling_inschrijvingen_weergave button.btn_inschrijvingen_toewijzen,
    #leerling_inschrijvingen_weergave button.btn_leerling_inschrijvingen_verwijder_of_schrijf_uit,
    #attesten button.btn-outline-success {
        opacity: 0.1;
    }

}

:root[data-darkreader-scheme="dark"] {
    .oldYear {
        #leerling_inschrijvingen_btn_nieuwe_inschrijving,
        #leerling_inschrijvingen_btn_nieuwe_inschrijving + button
        {
            color: #333;
            background-color: #111;
            border-color: #111;
        }
    }
    .runningStripes {
        background-image: linear-gradient(45deg, rgba(255,255,255,0.05) 0%, transparent 0%, transparent 48%, rgba(255,255,255,0.05) 48%, rgba(255,255,255,0.05) 51%, transparent 51%, transparent);
    }

}

@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

.runningStripes {
    background-size: 30px 30px;
    background-image: linear-gradient(45deg, white 0%, transparent 0%, transparent 48%, white 48%, white 51%, transparent 51%, transparent);
    animation: barberpole 0.5s linear infinite;
}

#werklijst_uren {
    tr.darkRow {
        background-color: rgba(72, 61, 139, 0.08);
    }
    th, td {
        border-style: solid;
        border-width: 1px;
        padding-left: 4px;
        padding-right: 4px;
    }
    th {
        background-color: lightgray;
    }
    button {
        padding: 0 3px;
        margin: 0;
        border-style: none;
        border-radius: 4px;
        background-color: rgba(0, 0, 119, 0.07);
        &:focus, &:focus-visible {
            border-style: none;
            outline-style: none;
        }
    }
    td.yellow {
        background-color: rgba(255, 255, 0, 0.71);
    }
    td.blueish {
        background-color: rgba(70, 104, 149, 0.48);
    }
    td.creme {
        background-color: rgba(189, 141, 1, 0.2);
    }
}

.progressLine {
    display: flex;
    justify-content: center;
    align-items: center;

    .progressText {
        font-size: .7em;
        opacity: 0.7;
    }
    .progressBar {
        margin-bottom: 6px;
    }
}

.progressBlock {
    margin-left: 2px;
    width: 30px;
    height: 5px;
    background-color: slategray;
    display: inline-block;
    &.iddle {
        background-color: slategray;
        opacity: .5;
    }
    &.loading {
        background-size: 10px 10px;
        background-image: linear-gradient(45deg, white 0%, transparent 0%, transparent 48%, white 48%, white 51%, transparent 51%, transparent);
        animation: barberpole 1s linear infinite;
    }
    &.loaded {
        background-color: slategray;
    }
}