button.naked {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
}

.hand {
    cursor: pointer;
}

.flexRow {
    display: flex;
    flex-direction: row;
}
.flexCol {
    display: flex;
    flex-direction: column;
}

.flexGrow {
    flex-grow: 1;
}

.flexRight {
    margin-inline-start: auto;
}

.flexSchrink {
    flex-shrink: 1;
}

.small {
    font-size: .8em;
}

.gray {
    color: gray;
}

.pre {
    white-space: preserve nowrap;
}

.placeHolder {
    background-color: lightgray;
    height: 1ch;
    display: inline-block;
    border-radius: 9999px;
}

.wch13 {
    width: 13ch;
}

.wch11 {
    width: 11ch;
}

.wch2 {
    width: 2ch;
}

.blueIcon,
button.blueIcon{
    color: #007bff;
}