button.naked {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
}

.hand {
    cursor: pointer;
}

.flexRow {
    display: flex;
    flex-direction: row;
}
.flexCol {
    display: flex;
    flex-direction: column;
}

.flexGrow {
    flex-grow: 1;
}

.flexRight {
    margin-inline-start: auto;
}

.flexSchrink {
    flex-shrink: 1;
}

.hideWerklijst {
    & > div.row.mb-1 {
        display: none;
    }
    & > div#info_div {
        display: none;
    }
    & > div#div_leerlingen_werklijst_overview * {
        display: none;
    }
}

#pluginContainer {
    & .werklijstButtonWrapper {
        margin-block: .5ch;
    }
}