button.naked {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
}

.hand {
    cursor: pointer;
}

.flexRow {
    display: flex;
    flex-direction: row;
}
.flexCol {
    display: flex;
    flex-direction: column;
}

.flexGrow {
    flex-grow: 1;
}

.flexSchrink {
    flex-shrink: 1;
}