html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

button
{
    border: 0;
    background: #7575e3;
    color: white;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

label {
    display: block;
    margin: 5px;
}