main {
    max-width: 1000px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    margin-bottom: .5ch;
}
div.info {
    background-color: #eff4ff;
    padding: 2ch;
    border-radius: 0 0 2ch 2ch;
    color: gray;
    margin-bottom: 1ch;
    ul {
        margin: 0;
        li {
            margin-top: .9ch;
        }
    }
}
var {
    font-style: normal;
    background-color: #a7c5ed87;
    padding: .0ch .7ch .3ch .7ch;
    border-radius: 1ch;
}

th {
    background-color: #123456;
    color: white;
    text-align: left;
    &.center {
        text-align: center;
    }
}

table {
     border-collapse: collapse;
    width: 100%;

     input {
        background-color: rgba(100, 150, 255, 0.1);
        border-style: none;
        border-width: 1px;
        color: rgba(50, 50, 65, 1);
        padding-left: .5ch;
        width: 100%;
        box-sizing: border-box;
     }
}

#gradeYearsContainer > table {
    width: auto;
    th {
        padding-right: 1ch;
    }
}

tr {
    border-bottom: 1px solid #bbb;
    &:hover {
        background-color: rgb(208 208 248 / 0.2);
    }
}

#teacherHoursSettings {
    & tr {
        &:has(input[type='checkbox']) {
            opacity: 0.5;

            &:has(input[type='checkbox']:checked) {
                opacity: 1;
            }
        }
    }
}

td.invalid {
    text-decoration: line-through;
    background: rgba(255, 0, 0, 0.1);
}
td button {
    margin-left: 1ch;
    opacity: 0.7;
    &:hover {
        opacity: 1;
        background-color: rgba(255,0,0, .1);
        cursor: pointer;
    }
    img {
        height: 1em;
    }
}
img.upSideDown {
    transform: rotate(180deg);
}

#txtWebPages {
    width: 100%;
    aspect-ratio: 16/9;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
}

label, td.label {
    white-space: nowrap;
    text-align: end;
    padding-inline-end: 1ch;
}