#trimesterTable {
    border-style: none;
    border-color: black;
}

#trimesterTable tr.trimesterRow
{
    border-style: solid;
    border-collapse: collapse;
    border-width: 2px;
}

#trimesterTable td,
#trimesterTable th
{
    padding-left: 3px;
}

#trimesterTable th {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

#trimesterTable tr.instrumentRow td {
    border-style: none;
}

#trimesterTable tr.trimesterRow.wachtlijst {
    border-style: none;
}

#trimesterTable tr.trimesterRow.wachtlijst .text-danger{
    font-weight: bold;
}

#trimesterTable td.instrumentName div.moduleName {
    font-weight: bold;
    border-width: 2px;
    border-color: transparent;
    padding-top: 10px;
}
#trimesterTable td.instrumentName div.text-muted {
    font-size: 0.7em;
    line-height: 1.5;
}

#trimesterTable .trimesterButton {
    display: block;
    font-size: 0.5em;
    color: white;
    background-color: #6c757d;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    width: 12px;
    height: 13px;
    border-color: #6c757d;
    padding-left: 1px;
}

#trimesterTable td.wachtlijst {
    border-style: none;
}

.yellowMarker {
    background-color: yellow;
}

.allYear {
    font-weight: bold;
}