#trimesterDiv {
    & table {
        border-style: none;
        border-color: black;
        table-layout: fixed;
    }
    & tr.trimesterRow {
        border-style: solid;
        border-collapse: collapse;
        border-width: 2px;
    }

    & tr.jaarRow {
        border-style: solid;
        border-width: thin;
        & > td.jaarStudent {
            border-style: none;
        }
        & > td:nth-child(n+2) {
            opacity: 0.3;
        }

    }


    td {
        padding-left: 3px;
    }

    #trimesterTable > thead {
        background: none;
    }

    & .table-secondary th {
        border-style: none;
        border-width: 0;
    }

    & th div {
        margin: 1px;
        background-color: #d6d8db;
        padding-left: 3px;
        padding-top: 1px;
        padding-bottom: 1px;
        & span.bold {
            font-weight: bold;
        }
        & span.plain {
            font-weight: normal;
        }
    }

    & tr.blockRow td {
        border-style: none;
    }

    & tr.trimesterRow.wachtlijst {
        border-style: none;
        & td {
            border-style: none;
        }
        & .text-danger {
            font-weight: bold;
        }
    }

    & td.titleCell {
        background-color: rgba(0, 0, 0, 0.05);
    }
    & td.titleCell div.blockTitle {
        font-weight: bold;
        border-width: 2px;
        border-color: transparent;
        padding-top: 10px;
    }

    & td.infoCell div.text-muted {
        font-size: 0.7em;
        line-height: 1.5;
        & span.blockTitle {
            font-weight: bold;
        }
    }

    & .lesButton {
        display: inline-block;
        font-size: 0.5em;
        color: white;
        background-color: #6c757d;
        border-radius: 2px;
        border-style: solid;
        border-width: 2px;
        width: 12px;
        height: 13px;
        border-color: #6c757d;
        padding-left: 1px;
        margin-left: 5px;
    }

    & .lesError {
        background-color: yellow;
        margin-left: 5px;
        font-weight: normal;
    }

    & .yellowMarker {
        background-color: yellow;
    }

    & .allYear {
        font-weight: bold;
    }
    & i.no3trims  {
        color: red;
    }

    & td.gray {
        background: #d6d8db;
    }

    &[data-show-full-class="true"] tr[data-has-full-class="false"] {
        display: none;
    }
    & span.badge {
        margin-right: 1ch;
    }
    & span.badge.muted {
        opacity: .5;
    }
    & button.student {
        border: none;
        background: none;
        color: #007bff;
    }
}

:root[data-darkreader-scheme="dark"] #trimesterDiv {
    & table {
        border-color: darkslategray;
    }

    & th div {
        background-color: darkslategray;
    }

    & td.gray {
        background: rgba(255, 255, 255, .1);
    }

}