#trimesterDiv {
    & table {
        border-style: none;
        border-color: black;
    }
    & tr.trimesterRow {
        border-style: solid;
        border-collapse: collapse;
        border-width: 2px;
    }

    td {
        padding-left: 3px;
    }

    #trimesterTable > thead {
        background: none;
    }

    & .table-secondary th {
        border-style: none;
        border-width: 0;
    }

    & th div {
        margin: 1px;
        background-color: #d6d8db;
        font-weight: bold;
        padding-left: 3px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    & tr.instrumentRow td {
        border-style: none;
    }

    & tr.trimesterRow.wachtlijst {
        border-style: none;
    }

    & tr.trimesterRow.wachtlijst .text-danger {
        font-weight: bold;
    }

    & td.instrumentName div.moduleName {
        font-weight: bold;
        border-width: 2px;
        border-color: transparent;
        padding-top: 10px;
    }

    & td.instrumentName div.text-muted {
        font-size: 0.7em;
        line-height: 1.5;
    }

    & .trimesterButton {
        display: block;
        font-size: 0.5em;
        color: white;
        background-color: #6c757d;
        border-radius: 2px;
        border-style: solid;
        border-width: 2px;
        width: 12px;
        height: 13px;
        border-color: #6c757d;
        padding-left: 1px;
    }

    & td.wachtlijst {
        border-style: none;
    }

    & .yellowMarker {
        background-color: yellow;
    }

    & .allYear {
        font-weight: bold;
    }

    & td.gray {
        background: #d6d8db;
    }

    &[data-show-full-class="true"] tr[data-has-full-class="false"] {
        display: none;
    }
}

:root[data-darkreader-scheme="dark"] #trimesterDiv {
    & table {
        border-color: darkslategray;
    }

    & th div {
        background-color: darkslategray;
    }
}